In [29]:
import pandas as pd
import lightgbm as lgb
import joblib

### Предсказание

In [30]:
model = joblib.load('model.joblib')
test_features_df = joblib.load('test_features.joblib')

In [31]:
test_df = pd.read_parquet("./test.parquet")
test_df.shape

(20000, 3)

In [32]:
test_predictions = model.predict_proba(test_features_df)[:, 1] 
test_predictions

array([0.24271282, 0.22606451, 0.6221003 , ..., 0.09219791, 0.2547919 ,
       0.05959796])

In [33]:
submission_df = pd.DataFrame({
    'id': test_df['id'],
    'score': pd.Series(test_predictions).reindex(test_df.index, fill_value=0.5)
})

In [34]:
submission_df

          id     score
0       6125  0.242713
1      26781  0.226065
2      13333  0.622100
3      53218  0.089922
4      84204  0.594194
...      ...       ...
19995  80341  0.500000
19996   5891  0.500000
19997  29091  0.500000
19998  85877  0.500000
19999  73528  0.500000

[20000 rows x 2 columns]

In [35]:
submission_df.to_csv('submission.csv', index=False)